---
import "../styles/global.css";
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
			@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
			:root {
				font-family: "Lexend Deca";
				font-display: swap;
			}
		</style>
		<title>M3 Components: The misssing UI library for Material Design 3</title>
	</head>
	<body class="min-h-screen flex flex-col bg-background">
		<slot />
	</body>
</html>
