---
import Layout from "@layouts/Layout.astro";
import { Button } from '@m3-components/solid';
import "@m3-components/solid/index.css";
---

<Layout>
	<header class="h-12"></header>
	<main class="w-screen px-4">
		<div class="h-[90vh] relative flex md:items-center">
			<div
				class="w-full mt-36 md:mt-0 md:!w-1/2 flex flex-col gap-4 md:pl-[3%] lg:pl-[12%] lg:pr-[4%] items-center
                md:!items-start text-center md:text-start"
			>
				<h1
					class="text-on-surface text-4xl md:text-4xl xl:text-5xl md:leading-[3rem] xl:leading-[3.6rem] font-semibold"
				>
					The missing<br /> UI library for<br />
					<span class="text-primary">Material Design 3</span>
				</h1>
				<p class="text-on-surface-variant">
					M3 Components offers a comprehensive suite of UI tools for developing beautiful, usable products
					that adhere to
					<a class="text-nowrap text-primary" href="https://m3.material.io">Material Design 3</a>, Google's
					robust and adaptable design system.
				</p>
				<a href="/docs/getting-started">
					<Button client:load> Getting Started </Button>
				</a>
			</div>
			<div class="hidden md:w-1/2 items-center justify-center md:flex text-primary text-3xl border-2 h-full">
				Demo
			</div>
		</div>
	</main>
</Layout>
