@layer components {
	.content {
		color: var(--md-sys-color-on-surface);
	}

	.content h1 {
		font-size: 3.5625rem;
		line-height: 4rem;
	}

	.content h2 {
		font-size: 1.75rem;
		line-height: 2.25rem;
		margin: 1.5rem 0 1.25rem 0;
	}

	.content h3 {
		font-size: 1.375rem;
		line-height: 1.75rem;
		margin: 1rem 0;
	}

	.content li {
		list-style: disc;
		list-style-position: inside;
		margin: 1rem 0;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.content p {
		margin: 1rem 0;
		font-size: 1rem;
		line-height: 1.5rem;
	}

	.content pre {
		margin: 1rem 0;
		padding: 1rem 1.5rem;
		border-radius: 1rem;
	}

	.content a {
		color: var(--md-sys-color-primary);
	}

	.content code {
		font-family: "IBM Plex Mono", monospace;
	}

	.content pre {
		scrollbar-width: none;
	}

	.content pre::-webkit-scrollbar {
		display: none;
	}

	.content code:not(pre > code) {
		background-color: var(--md-sys-color-surface-container-high);
		padding: 0.125rem 0.5rem;
		border-radius: 0.25rem;
		margin: 0 0.125rem;
	}

	.content blockquote {
		margin: 1rem 0;
		padding: 0.5rem 1.5rem;
		color: var(--md-sys-color-on-surface-variant);
		background-color: var(--md-sys-color-surface-container-low);
		border-radius: 1rem;
	}
}
